.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background 2s;
}

.ex-1-square:hover{
    background:red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1.5s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition:opacity 1.5s;
}

.ex-4-square:hover{
    opacity: 0;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: width 1s, height 1s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    
}
.ex-7-img, .ex-8-img{
    transition:1.5s;

}
.ex-6-img:hover{
    filter:grayscale(1);
}

.ex-7-img:hover{
    filter:sepia(0.5) grayscale(0.5);
}

.ex-8-img:hover{
    border-radius: 15px;
    filter:sepia(0.5) grayscale(0.5);
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 1.5s;
}

.ex-9-img:hover{
    filter:sepia(0.5) grayscale(0.5);
    border-radius: 20px;
    transform: scale(1.3);
}

.ex-10-icon {
    font-size: 60px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin{
    0%{
        transform: rotate(1turn);
    }
}


.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: spin-2 linear 1.5s;
}
@keyframes spin-2{
    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(270deg);
    }
    100%{
        translate: rotate(0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: top-white 2s linear;

}

@keyframes top-white {
    0%{
        top:-10px;
        left:10%;
    }
    50%{
        top:-10px;
        left:calc(100% - 60px);
    }
    100%{
        top:-10px;
        left:10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: bottom-white 2s linear;
}

@keyframes bottom-white {
    0%{
        bottom:-10px;
        right:20%;
    }
    50%{
        bottom:-10px;
        right:calc(100% - 60px);
    }
    100%{
        bottom:-10px;
        right:20%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: top-white-2 2s linear;
}
@keyframes top-white-2 {
    0%{
        top:-10px;
        left:10%;
    }
    20%{
        top:-10px;
        left:calc(100% - 30px);
    }
    40%{
        top:100%;
        left:calc(100% - 30px);
    }
    60%{
        top:calc(100% - 10px);
        left:-15px;
    }
    80%{
        top:-10px;
        left:0;
    }
    100%{
        top:-10px;
        left:10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: bottom-white-2 2s linear;
}
@keyframes bottom-white-2 {
    0%{
        bottom:-10px;
        right:10%;
    }
    20%{
        bottom:-10px;
        right:calc(100% - 30px);
    }
    40%{
        bottom:100%;
        right:calc(100% - 30px);
    }
    60%{
        bottom:calc(100% - 10px);
        right:-15px;
    }
    80%{
        bottom:-10px;
        right:0;
    }
    100%{
        bottom:-10px;
        right:10%;
    }

}
